<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body style="background-color: beige">
<div th:insert="blocks/header"></div>
<p>Admin</p>

<div style="display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  margin: 0 auto;
  padding: 10px 20px;">
  <h3>Сотрудники</h3>
</div>
<div class="container" style="display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  margin: 0 auto;
  padding: 10px 20px;" th:each="el : ${posts}"}>

  <div style="background-color: azure; border: 1px solid  black; width: 500px;  margin-bottom: 30px">
    <label>Имя: </label> <h4 th:text="${el.getName()}"></h4>
    <label>Фамилия: </label> <p th:text="${el.getSurname()}"></p>
    <label>Отчество: </label><p th:text="${el.getMiddlename()}"></p>
    <a th:href="'/sotrudnik/' + ${el.getId()}"> Подробнее </a>
  </div>
</div>

</body>
</html>


